@use "../../utility_styles/mixins" as *;
@use "../../utility_styles/variables" as *;

// Topics Page styling

.TopicsPage {
  @include displayFlex(column, flex-start, center);
  padding: 50px 50px 0px 50px;
  height: 100%;
  position: relative;

  .topics-heading {
    margin-bottom: 70px;
  }

  .topics-display {
    display: grid;
    grid-template-columns: 300px 300px;
    width: 100%;

    justify-content: space-evenly;
    row-gap: 50px;

    overflow-y: auto;
    padding-bottom: 70px;

    .topic-card {
      @include displayFlex(row, space-between);
      color: $text-color-white;
      background-color: $theme-color-orange;
      padding: 25px 18px;
      border-radius: 10px;

      .topic-name {
        width: 100%;
        overflow: hidden;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        padding-right: 20px;
      }

      .details-container {
        @include displayFlex(row);
        gap: 8px;
      }
    }
  }

  .add-topic-button {
    position: fixed;
    bottom: 40px;
    right: 100px;
  }
}
