@use "../../utility_styles/mixins" as *;
@use "../../utility_styles/variables" as *;

// Topics Page styling

.TopicsPage {
  @include displayFlex(column, flex-start, center);
  padding: 50px 50px 0px 50px;
  height: 100%;
  position: relative;

  .topics-heading {
    margin-bottom: 70px;
  }

  .topics-display {
    @include displayFlex(column);
    width: 100%;
    overflow-y: auto;
    padding-bottom: 70px;
    gap: 50px;

    .topic-card {
      @include displayFlex();
      width: 500px;
      color: $text-color-white;
      background-color: $theme-color-orange;
      padding: 20px 18px;
      border-radius: 10px;
      cursor: auto;

      .info-container {
        all: unset;
        cursor: pointer;
        flex: 6;
        @include displayFlex(column, center, flex-start);
        gap: 15px;

        .topic-name {
          width: 100%;
          overflow: hidden;
          text-wrap: nowrap;
          text-overflow: ellipsis;
          padding-right: 20px;
        }

        .number-of-flashcards-container {
          @include displayFlex();
          gap: 5px;

          .flashcard-icon {
            font-size: 23px;
          }
        }
      }

      .delete-button-container {
        flex: 1;
        @include displayFlex();

        .delete-icon-button {
          font-size: 26px;
          cursor: pointer;
          transition: all 0.2s;

          &:hover {
            color: $danger-red;
          }
        }
      }
    }
  }

  .add-topic-button {
    position: fixed;
    bottom: 40px;
    right: 100px;
  }
}
