@use "../../../utility_styles/mixins" as *;
@use "../../../utility_styles/variables" as *;

// Editable Flashcard styling

// Majority of this styling is the flip effect.
.EditableFlashcard {
  width: 220px;
  height: 240px;
  position: relative;

  .container {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1s ease;

    background-color: $beige;
    border-radius: 20px;

    .front-face {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }

    .back-face {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      transform: rotateY(180deg);
    }

    &:hover {
      transform: rotateY(180deg);
    }

    .front-face,
    .back-face {
      @include displayFlex(column, space-between, flex-start);
      padding: 20px;

      .details-and-buttons {
        width: 100%;
        // @include displayFlex(row, space-between);
        display: grid;
        grid-template-columns: 2fr 1fr;

        .flashcard-topic-container {
          border: 1px solid red;
          // padding-right: 10px;
          text-overflow: ellipsis;
        }

        .flashcard-buttons {
          @include displayFlex();
          gap: 15px;
        }
      }
    }

    .card-option-button {
      color: $text-color-black;
      font-size: 22px;
    }
  }
}
