@use "../../utility_styles/mixins" as *;
@use "../../utility_styles/variables" as *;

// Flashcards Page styling

.FlashcardsPage {
  @include displayFlex(column, flex-start, center);
  padding: 50px 50px 0px 50px;
  height: 100%;

  .heading {
    margin-bottom: 50px;
  }

  .flashcards-display {
    @include displayFlex(row, flex-start);
    flex-wrap: wrap;
    gap: 30px;
    flex-grow: 1;
    overflow-y: auto;
    position: relative;
  }

  .add-task-button {
    position: fixed;
    bottom: 50px;
    right: 50px;
  }
}
