@use "../../utility_styles/mixins" as *;
@use "../../utility_styles/variables" as *;

// Flashcards Page styling

.FlashcardsPage {
  @include displayFlex(column, flex-start, center);
  padding: 50px 50px 0px 50px;
  height: 100%;

  .flashcards-page-heading {
    margin-bottom: 50px;
  }
  .content-container {
    width: 100%;
    flex-grow: 1;
    overflow: hidden;

    .flashcards-display {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      height: 100%;
      overflow-y: auto;
      gap: 30px;
      padding-bottom: 70px;
    }

    .add-task-button {
      position: fixed;
      bottom: 40px;
      right: 100px;
    }
  }
}
