// Style variables module

// Theme colors
$theme-color-dark: #343131;
$theme-color-red: #a04747;
$theme-color-orange: #d8a25e;
$theme-color-yellow: #eedf7a;

// Other colors
$success-green: #45ac3e;

// Text colors
// In typography, its better to not use pure white and pure black for text colors.
$text-color-white: #faf9f6;
$text-color-black: #212427;
