@use "./utility_styles/mixins" as *;
@use "./utility_styles/variables" as *;

// Styles for App component.
// Mainly for layout structure.

.App {
  width: 100%;
  height: 100vh;
  @include displayFlex();
  background-color: $background-color-white;

  .Sidebar {
    width: 25%;
  }

  .main-content {
    width: 75%;
    height: 100%;
  }
}
