// Global Styles

// Fonts
// Imported via Google Fonts CDN

// Bold font
@mixin fontBold {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

// Semibold font
@mixin fontSemiBold {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

// Regular text font.
@mixin fontRegular {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

// Light font
@mixin fontLight {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

// Light-italic font
@mixin fontBold {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

// Special handwriting font
@mixin fontBold {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

// Variables
// NOTE: It may be better to put this in it's own file. A utility module (_variables.scss).
// In typography, its better to not use pure white and pure black for text colors.
$text-color-white: #faf9f6;
$text-color-black: #212427;

// General

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  // apply the regular font here, so that it's set as the default font.
  font-size: 18px; // Base font 18px.
}

body {
  overflow-x: hidden;
  // implement text color
}

// prettier-ignore
h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
  }

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  all: unset;
  cursor: pointer;
}

// Utility text classes
// Used for standardizing text sizes and styles throughout the application.
// All text has regular font by default (as described in the * tag above).

// *NOTE: If you're using a utility class library like tailwind, just delete these.

// Sizes
.text-3xl {
  font-size: 2.5em;
}

.text-2xl {
  font-size: 2em;
}

.text-xl {
  font-size: 1.5em;
}

.text-lg {
  font-size: 1.25em;
}

.text-reg {
  font-size: 1em;
}

.text-sm {
  font-size: 0.875em;
}

// Fonts/Styles
.font-bold {
  // implement bold font
}

.font-semibold {
  // implement semi-bold font
}

.font-reg {
  // implement regular font
}

.font-light {
  // implement light font
}
