@use "./utility_styles/variables" as *;
@use "./utility_styles/mixins" as *;

// Global Styles

// Fonts
// Imported via Google Fonts CDN

@mixin fontBold {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

@mixin fontSemiBold {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@mixin fontRegular {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@mixin fontLight {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

@mixin fontLightItalic {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}

// Special handwriting font
@mixin fontHandwriting {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

// General

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  @include fontRegular();
  font-size: 18px; // Base font 18px.
}

body {
  overflow-x: hidden;
  color: $text-color-black;
}

// prettier-ignore
h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
  }

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

// Button class, typically applied to button or React-Router Link elements
// to get styled as a button.
.button {
  all: unset;
  cursor: pointer;
  @include displayFlex();
  @include fontSemiBold();

  color: $text-color-white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.25);

  transition: all 0.2s;

  &:hover {
    transform: scale(0.99) translateY(2px);
  }
}

// Utility text classes
// Used for standardizing text sizes and styles throughout the application.
// All text has regular font by default (as described in the * tag above).

// Sizes
.text-3xl {
  font-size: 2.5em;
}

.text-2xl {
  font-size: 2em;
}

.text-xl {
  font-size: 1.5em;
}

.text-lg {
  font-size: 1.25em;
}

.text-reg {
  font-size: 1em;
}

.text-sm {
  font-size: 0.875em;
}

// Fonts/Styles
.font-bold {
  @include fontBold();
}

.font-semibold {
  @include fontSemiBold();
}

.font-reg {
  @include fontRegular();
}

.font-light {
  @include fontLight();
}

.font-light-italic {
  @include fontLightItalic();
}

.font-handwriting {
  @include fontHandwriting();
}
