@use "../../utility_styles/mixins" as *;
@use "../../utility_styles/variables" as *;

// Topics Page styling

.TopicsPage {
  @include displayFlex(column, flex-start, center);
  padding: 50px 50px 0px 50px;
  height: 100%;
  position: relative;

  .topics-heading {
    margin-bottom: 70px;
  }

  .topics-display {
    @include displayFlex(column, flex-start);
    width: 100%;
    overflow-y: auto;
    padding-bottom: 70px;
    gap: 50px;

    .topic-card {
      @include displayFlex();
      width: 500px;
      color: $text-color-white;
      background-color: $theme-color-orange;
      padding: 20px 18px;
      border-radius: 10px;

      .info-container {
        flex: 5;
        @include displayFlex(column, center, flex-start);
        gap: 15px;
        overflow: hidden;

        .topic-name {
          width: 100%;
          overflow: hidden;
          text-wrap: nowrap;
          text-overflow: ellipsis;
          padding-right: 20px;
        }

        .number-of-flashcards-container {
          @include displayFlex();
          gap: 5px;

          .flashcard-icon {
            font-size: 23px;
          }
        }
      }

      .buttons-container {
        flex: 1;
        @include displayFlex(row, space-between);
        height: 100%;

        .edit-icon-button {
          font-size: 26px;
          cursor: pointer;
          transition: all 0.2s;

          &:hover {
            color: $theme-color-yellow;
          }
        }

        .delete-icon-button {
          font-size: 26px;
          cursor: pointer;
          transition: all 0.2s;

          &:hover {
            color: $danger-red;
          }
        }
      }
    }
  }

  .add-topic-button {
    position: absolute;
    bottom: 7%;
    right: 5%;
  }
}

@media (max-width: 1100px) {
  .TopicsPage {
    padding: 50px 0px 0px 0px;

    .topics-heading {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 850px) {
  .TopicsPage {
    padding: 5% 0px 0px 0px;
    // Lowering the size of all text by a little.
    // I can do this because I use em sizing, so can just re-define a lower base
    // size and everything will follow relative to that.
    font-size: 16px;

    .topics-display {
      gap: 30px;

      .topic-card {
        width: 90%;
      }
    }
  }
}

@media (max-width: 500px) {
  .TopicsPage {
    .topics-display {
      .topic-card {
        .info-container {
          flex: 4;
        }
      }
    }
  }
}
