@use "../../../../utility_styles/mixins" as *;
@use "../../../../utility_styles/variables" as *;

// Add Flashcard Modal styling

.AddFlashcardModal {
  .add-flashcard-heading {
    margin-bottom: 20px;
  }

  .add-flashcard-form {
    width: 100%;

    .flashcard-text-input {
      width: 100%;
    }
  }

  .buttons-container {
    width: 100%;
    flex: 1;
    @include displayFlex(row, flex-end, flex-end);
    gap: 15px;
  }
}
